@import "../../variables.scss";

.antheader {
  display: flex;
  align-items: center;
  color: $fontColor;

  .antheader-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
  }

  .antheader-title {
    color: $fontColor;
    margin: 0;
    font-size: $pageTitleFontSizeM;

    @media (max-width: 768px) {
      font-size: $pageTitleFontSizeS;
    }
    @media (max-width: 360px) {
      font-size: $pageTitleFontSizeXS;
    }
  }
}
